* {
	margin: 0;
	padding: 0;
}

#container {
	width: 1000px;
	margin: 10px auto;
}

#logo {
	width: 200px;
	height: 60px;
	margin: 0 auto;
}

#gjs-canvas {
	background-color: #f6f6f6;
	border: 1px solid #dedede;
}